mods/deathmatch/resource-cache/

mods/deathmatch/server-id.keys

logs/
mods/deathmatch/logs/
*.log

dumps/
backups/
mods/deathmatch/backups/
*.dmp

*.bak
*.tmp
*.old
desktop.ini
Thumbs.db
.DS_Store

mods/deathmatch/resources/.admin-backup/
mods/deathmatch/resources/.anticheat-backup/
mods/deathmatch/resources/.optimization-backup/
mods/deathmatch/resources/.performance/audit.json

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.rar
*.zip
/mods/deathmatch/databases/
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

/MTA Server64.exe
/x64/

project_docs/
mods/deathmatch/resources/gzl_inventory/data/player_inventories.json
mods/deathmatch/resources/gzl_inventory/data/world_drops.json
